@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/_AdminLayout.cshtml";
}

<h1>DashBoard Page</h1>
<!-- jQuery -->
<script src="~/admin/plugins/jquery/jquery.min.js"></script>