@model Brand
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminPanel/Views/_AdminLayout.cshtml";
}

<div class="row">
     <div class="col-md-6 d-flex align-items-stretch">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h2 class="card-title">@Model.Name</h2> <br />
                      <h5> <img width="200" height="150" src="~/assets/images/brand/@Model.ImageUrl"/>  </h5> 
                       <a class="btn btn-dark" asp-action="index"> Go Back</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
<script src="~/admin/plugins/jquery/jquery.min.js"></script>

