@model List<WishList>
    <!--====== Wishlist Part Start ======-->

<section class="wishlist-page pt-10">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-12">
                <div class="wishlist mt-30">
                    <div class="shopping-cart-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center" class="image">Image</th>
                                    <th style="text-align: center" class="product">Product Name</th>
                                    <th style="text-align: center" class="price">Price</th>
                                    <th style="text-align: center" class="delete">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="product-image" style="text-align: center">
                                                <img width="100" height="100" src="~/img/shop/@item.Product.ProductImages.Find(x=> x.IsMain == true).ImageUrl" alt="cart">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-title">
                                                <h4 class="title"><a href="single-product.html">@item.Product.Name</a></h4>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-price" style="text-align: center">
                                                <span class="price">€@item.Product.Price</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-delete">
                                                <a asp-controller="basket" asp-action="additem" asp-route-id="@item.Product.Id"><i class="icon ion-bag"></i></a>
                                                <a asp-controller="wishlist" asp-action="remove" asp-route-id="@item.Product.Id"><i class="fal fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                    </tr>
}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Wishlist Part Ends ======-->
