@model AboutUsVM
<!-- start about us section -->
<section>
    <div class="container lg-container">
        <div class="row align-items-center">
            <div class="col-lg-5 sm-margin-30px-bottom">
                <div class="padding-50px-right sm-no-padding-right sm-text-center">
                    <img src="img/content/07.png" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="font-weight-800 font-size36 md-font-size34 xs-font-size30 margin-5px-bottom">Welcome to Pet Care Clinic & Best Expert Services</h4>
                <p class="font-size18 text-secondary-color">With Best Facilities & Friendly Staff</p>
                <p class="margin-30px-bottom"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet...</p>
                <ul class="list-style3 margin-30px-bottom">
                    <li>Hincidunt ut labore dolore magnam aliquam</li>
                    <li>Duis aute irure dolor reprehenderit in voluptate</li>
                    <li>Excepteur sint occaecat cupidatat non proident officia </li>
                </ul>
                <a href="about.html" class="text-extra-dark-gray">Read more<i class="fas fa-arrow-right vertical-align-middle margin-5px-left font-size12"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- end about us section -->
<!-- start team section -->
<section class="no-padding-top">
    <div class="container lg-container">
        <div class="text-center margin-40px-bottom">
            <h3 class="font-weight-900 font-size50 xs-font-size40 xs-margin-10px-bottom">Our Team</h3>
            <p class="width-50 sm-width-70 xs-width-80 mobile-width-100 center-col">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores nesciunt.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                <div class="text-center bg-light-gray padding-40px-all border-radius-5 team-block">
                    <img src="img/team/team-01.jpg" class="border-radius-100 width-50 border border-width-3" alt="" />
                    <h5 class="margin-5px-bottom margin-40px-top font-size20 xs-font-size19 font-weight-800">Buckle Giarza</h5>
                    <p class="border-bottom border-black-light padding-20px-bottom font-size18 font-weight-700">Care Taker</p>
                    <ul class="social-icon-style2">
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                    <div class="team-overlay">
                        <a href="javascript:void(0)">Hire Me</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                <div class="text-center bg-light-gray padding-40px-all border-radius-5 team-block">
                    <img src="img/team/team-02.jpg" class="border-radius-100 width-50 border border-width-3" alt="" />
                    <h5 class="margin-5px-bottom margin-40px-top font-size20 xs-font-size19 font-weight-800">Militon Wiafer</h5>
                    <p class="border-bottom border-black-light padding-20px-bottom font-size18 font-weight-700">Dog Trainer</p>
                    <ul class="social-icon-style2">
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                    <div class="team-overlay">
                        <a href="javascript:void(0)">Hire Me</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mobile-margin-30px-bottom">
                <div class="text-center bg-light-gray padding-40px-all border-radius-5 team-block">
                    <img src="img/team/team-03.jpg" class="border-radius-100 width-50 border border-width-3" alt="" />
                    <h5 class="margin-5px-bottom margin-40px-top font-size20 xs-font-size19 font-weight-800">Lenthi  Miloler</h5>
                    <p class="border-bottom border-black-light padding-20px-bottom font-size18 font-weight-700">Pet Sitter</p>
                    <ul class="social-icon-style2">
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                    <div class="team-overlay">
                        <a href="javascript:void(0)">Hire Me</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                <div class="text-center bg-light-gray padding-40px-all border-radius-5 team-block">
                    <img src="img/team/team-04.jpg" class="border-radius-100 width-50 border border-width-3" alt="" />
                    <h5 class="margin-5px-bottom margin-40px-top font-size20 xs-font-size19 font-weight-800">Horthy Hulse</h5>
                    <p class="border-bottom border-black-light padding-20px-bottom font-size18 font-weight-700">Care Taker</p>
                    <ul class="social-icon-style2">
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                    <div class="team-overlay">
                        <a href="javascript:void(0)">Hire Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->
<!-- start testimonial section -->
<section class="bg-img cover-background padding-100px-tb" data-overlay-dark="0" data-background="img/testmonials/01.jpg">
    <div class="container lg-container">
        <div class="row">
            <div class="col-lg-7">
                <div class="bg-light-gray padding-60px-lr padding-70px-tb xs-padding-40px-all border-radius-5 mobile-text-center owl-theme owl-carousel" id="testmonials-carousel">
                    <div class="row align-items-center">
                        <div class="col-sm-3 mobile-margin-25px-bottom">
                            <img src="img/testmonials/t-1.jpg" class="border-radius-50" alt="" />
                        </div>
                        <div class="col-sm-9">
                            <h4>Ericka Dash</h4>
                            <p class="no-margin-bottom">"Dxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis."</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-3 mobile-margin-25px-bottom">
                            <img src="img/testmonials/t-2.jpg" class="border-radius-50" alt="" />
                        </div>
                        <div class="col-sm-9">
                            <h4>William Warfield</h4>
                            <p class="no-margin-bottom">"Wxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis."</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-3 mobile-margin-25px-bottom">
                            <img src="img/testmonials/t-3.jpg" class="border-radius-50" alt="" />
                        </div>
                        <div class="col-sm-9">
                            <h4>James Conrad</h4>
                            <p class="no-margin-bottom">"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end testimonial section -->
<!-- start extra section -->
@*<section>
    <div class="container lg-container">
        <div class="row">
            <div class="col-lg-4 col-md-6 sm-margin-40px-bottom">
                <img src="img/content/04.jpg" class="border-radius-5" alt="" />
                <div class="padding-20px-top">
                    <h5 class="font-weight-800">Always take care of street pet with best food.</h5>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
                    <a href="javascript:void(0);" class="text-theme-color">Read more<span class="fas fa-arrow-right vertical-align-middle font-size12 margin-5px-left"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-margin-40px-bottom">
                <img src="img/content/05.jpg" class="border-radius-5" alt="" />
                <ul class="no-margin-bottom padding-20px-top working-hour">
                    <li>The pet expert</li>
                    <li>Love your pet more</li>
                    <li>Your pet, our passion</li>
                    <li>Let’s care your pet family</li>
                    <li>A Safe haven for pets</li>
                    <li>What’s pet wants</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="bg-img padding-30px-all" data-background="img/content/06.jpg">
                    <h4 class="font-size24 font-weight-800">Working Hours</h4>
                    <p>tempora incidunt ut labore et dolore aliquam quaerat voluptatem.</p>
                    <ul class="list-style2">
                        <li>Monday<span class="float-right text-theme-color">08:00-09:00 </span> </li>
                        <li>Tuesday<span class="float-right text-theme-color"> 08:00-09:00</span> </li>
                        <li>Wednesday<span class="float-right text-theme-color">09:00-11:00</span> </li>
                        <li>Thursday<span class="float-right text-theme-color">09:00-11:00</span> </li>
                        <li>Friday<span class="float-right text-theme-color">10:00-10:00</span> </li>
                        <li>Sunday<span class="float-right text-theme-color">Closed</span> </li>
                    </ul>
                    <a href="javascript:void(0);" class="butn theme small margin-30px-top"><span class="alt-font">Contact Us</span></a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- end extra section -->