@model List<Category>


    <!-- start categories section -->
    <section class="no-padding-bottom">
        <div class="container lg-container">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-md-4 xs-margin-40px-bottom">
                        <div class="text-center">
                            <img src="~/assets/img/content/01.jpg" class="border-radius-5" alt="" />
                            <div class="categories-content">
                                <h5 class="no-margin-bottom"> @item.Name<a class="text-extra-dark-gray">Pet Care</a></h5>
                            </div>
                        </div>
                    </div>
                }

                </div>
        </div>
    </section>
    <!-- end categories section -->
