@model HomeVM

@{ ViewData["Title"] = "Index"; }


    <section id="thumbnail-carousel" style="padding:0;"
             class="splide"
             aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel.">
        <div class="splide__track">
            <ul class="splide__list">
                @foreach (var item in Model.SliderContents)
                {
    <li class="splide__slide">
        <img src="~/assets/img/@item.Slider.ImageUrl" alt="">
    </li>            }
            </ul>
        </div>
    </section>




<!-- start categories section -->
<section class="no-padding-bottom">
    <div class="container lg-container">
        <div class="row">

            @foreach (var item in Model.Categories)
            {
<div class="col-md-4 xs-margin-40px-bottom">
    <div class="text-center">
        <img src="~/assets/img/@item.ImageUrl" class="border-radius-5" alt="" />
        <div class="categories-content">
            <h5 class="no-margin-bottom"><a class="text-extra-dark-gray"> @item.Name </a> </h5>

        </div>
    </div>
</div>}
        </div>
    </div>
</section>
<!-- end categories section -->
<!-- start portfolio section -->
<section class="no-padding">
    <div class="container" style="height:200px">
        <div class="text-center margin-40px-bottom">
            <h3 class="font-weight-900 font-size50 xs-font-size40 xs-margin-10px-bottom">Gallery</h3>
            <p class="width-50 sm-width-70 xs-width-80 mobile-width-100 center-col">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores nesciunt.</p>
        </div>
    </div>
          <div id="gallery" class="container-fluid">

         @foreach (var item in Model.Galleries)
             {
            <img  src="~/assets/img/gallery/@item.ImageUrl" class="img-responsive">
             }
          </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>

        </div>
    </div>


















   


</section>
<!-- end portfolio section -->
<!-- start extra section -->
<section class="bg-theme bg-img theme-overlay" data-overlay-dark="93" data-background="img/bg/pattern.png">
    <div class="container">
        <div class="text-center">
            <h3 class="text-white font-size80 sm-font-size50 xs-font-size40 no-margin-bottom">50% Sale</h3>
            <h5 class="text-white font-size40 sm-font-size30 xs-font-size26 margin-20px-bottom sm-margin-10px-bottom">A fresh approach to shopping</h5>
            <p class="text-white font-size20 sm-font-size18 xs-font-size16 margin-30px-bottom sm-margin-20px-bottom xs-margin-10px-bottom line-height-35 xs-line-height-30 width-75 sm-width-100 center-col">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <a href="javascript:void(0);" class="butn medium">Read more</a>
        </div>
    </div>
</section>
<!-- end extra section -->
