
@model LoginVM
@{ ViewData["Title"] = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<!--====== Login Part Start ======-->

<section class="login-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="paw-store">Confirmed Your Account</h4>
                    <form method="post">
                        <div class="input-group mt-4 mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span style="position: absolute; top:35px" class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <button class="mt-10 btn btn-success" asp-action="confirmpassword">Confirm</button>
                    </form>
                    @if (TempData["WrongPassword"] != null)
                    {
        <span>
            @TempData["WrongPassword"];
        </span>}
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Login Part Ends ======-->