
@model LoginVM
@{ ViewData["Title"] = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<!-- login start -->

<form action="action_page.php" method="post">

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input asp-for="Email" class="form-control" placeholder="Email">

        <label for="psw"><b>Password</b></label>
        <input asp-for="Password" class="form-control" placeholder="Password">

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>


    @if (ViewBag.Role == "Ban")
    {
        <span><b class="text-danger ml-3"> @TempData["Banned"] </b> </span>}
    @if (ViewBag.Email == false)
    {
        <span style="position: absolute; z-index:1000;width: 400px; top: 40px;left: 50px">
            @TempData["Remaining Time"]
        </span>}
    @if (ViewBag.Failed == 1)
    {
        <span><b class="text-danger ml-3">Wrong Password!</b>You have two chance</span> }
    else if (ViewBag.Failed == 2)
    {
        <span><b class="text-danger ml-3">Again Wrong Password !</b>You have last chance</span> }
    else if (ViewBag.Failed == 0)
    {
        <span style="position: absolute; z-index:1000;width: 400px; bottom: 205px;left: 50px" id="errMsg">
            @TempData["Error"]
        </span>}
    <div class="custom-checkbox mt-30">
        <input type="checkbox" id="account">
        <label for="account"></label>
        <p>Remember me</p>
    </div>
    <div class="single-form">
        <button type="submit" class="main-btn main-btn-2">Login</button>
    </div>
</form>
<p class="mt-20"><a href="#">Forgot your password?</a></p>
<p class="mt-10">No account? <a asp-controller="Register" asp-action="Index">Create a new account.</a></p>


<!-- login finished -->
