@model Bio


 <!-- start page loading -->
@*<div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>*@
<!-- end page loading -->
<!-- start main-wrapper section -->
<div class="main-wrapper">

    <!-- start header section -->
    <header>


        <div id="top-bar" class="top-bar">
            <div class="container bootstrap-switch-container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="top-bar-info">
                            <ul>
                                <li><a href="tel:+994 50 200 21 40"><i class="fas fa-phone"></i>(+994) 50 200 21 40</a></li>
                                <li><a href="mailto:PawStore@paw.com"><i class="fas fa-envelope"></i>PawStore@paw.com</a></li>
                           

                            </ul>

                        </div>
                    </div>




                    <div class="col-xs-12 col-md-3" style="height:40px">

                        <ul class="top-social-icon " style="height:40px">
                           
                                @if (User.Identity.IsAuthenticated)
                                {
                                <li class="nav-item">
                                    <a class="nav-link" href="#">@ViewBag.User</a>
                                </li>
                                <li><a asp-controller="wishlist" asp-action="index"><i class="fa-solid fa-heart-circle-check"></i></a></li>
                            }


                                <li class="nav-item my-auto shop-cart">
                                    <a asp-controller="basket" asp-action="showitem"> <i class="fas fa-shopping-bag"></i></a>
                                    <sup class="rounded-circle">@ViewBag.BasketCount</sup>
                                    <span class="CART" ($@ViewBag.TotalPrice)></span>

                                </li>

                                @if (!User.Identity.IsAuthenticated)

                                {

                                    <li><a asp-controller="account" asp-action="login">Sign In</a></li>

                                }

                                else

                                {
                                    <li><a asp-controller="account" asp-action="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                                }

            
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        
        
</div>

<div class="navbar-default border-bottom border-color-light-white">



    <div class="container lg-container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-12">
                <div class="menu_area alt-font">
                    <nav class="navbar navbar-expand-lg navbar-light no-padding">

                        <div class="navbar-header navbar-header-custom">
                            <!-- start logo -->

                            <a asp-action="Index" asp-controller="home"><img width="140px" src="~/assets/img/logos/logo.png" alt="logo"></a>

                            <!-- end logo -->
                        </div>

                        <div class="navbar-toggler"></div>

                        <!-- menu area -->

                        <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                            <li>
                                <a asp-controller="PetCare" asp-action="Index">Pet Care</a>
                            </li>
                            <li>
                                <a asp-controller="Shop" asp-action="Index">Shop</a>

                            </li>

                            <li>

                                <a asp-controller="AboutUs">About Us</a>

                            </li>


                            <li>

                                <a  asp-controller="Blog">Blog</a>

                            </li>

                            <li><a asp-controller="Contact"> Contact Us</a></li>
                        </ul>

                        <form method="get" style="border:none; height:60px">
                            <div class="form-group" style="width:180px; height:15px ">
                                <ul class="search-wrapper" id="SearchList">

                                    <li class="d-flex px-3">
                                        <label for="Search"></label>
                                        <input type="text" id="search" autocomplete="off" placeholder="&#xf002; Search" style="font-family:Arial, FontAwesome" class="form-control" name="search"
                                               value="" />
                                    </li>
                                </ul>
                            </div>
                        </form>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
 </header>
<!-- end header section -->
