
<!DOCTYPE html>
<html lang="en">


<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Orkhan" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Pet Adoption, Care and Shop " />
    <meta name="description" content="Paw - Pet Adoption, Care and Shop" />

    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="~/assets/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/logos/apple-touch-icon-114x114.png" />
    <!-- fontawesome -->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css>

    <!-- plugins -->
    <link rel="stylesheet" href="~/css/plugins.css" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="~/css/rev_slider/settings.css">
    <link rel="stylesheet" href="~/css/rev_slider/layers.css">
    <link rel="stylesheet" href="~/css/rev_slider/navigation.css">

    <!-- search css -->
    <link rel="stylesheet" href="~/search/search.css" />

    <!-- core style css -->
    <link href="~/css/styles.css" rel="stylesheet" />

</head>

<body>

   






    @await Component.InvokeAsync("Header")
    @RenderBody()
    @await Component.InvokeAsync("Footer")



    <!-- end main-wrapper section -->
    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-paw" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->
    <!-- Java script -->
    <script src="~/js/core.min.js"></script>

    <!-- Search -->
    <script src="~/search/search.js"></script>

    <!-- revolution slider js files start -->
    <script src="~/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="~/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.video.min.js"></script>
    <!-- revolution slider js files end -->
    <!-- custom scripts -->
    <script src="~/js/main.js"></script>

    <!-- all js include end -->

</body>



</html>