
<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Add the slick-theme.css if you want default styling -->
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Orkhan" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Pet Adoption, Care and Shop " />
    <meta name="description" content="Paw - Pet Adoption, Care and Shop" />



    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/splide/dist/css/splide.min.css" />

    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="~/assets/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/logos/apple-touch-icon-114x114.png" />
    <!-- fontawesome -->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css>

    <!-- plugins -->
    <link rel="stylesheet" href="~/css/plugins.css" />




    <!-- search css -->
    <link rel="stylesheet" href="~/search/search.css" />

    <!-- core style css -->
    <link href="~/css/styles.css" rel="stylesheet" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>



    
</head>
<body>


    @await Component.InvokeAsync("Header")
    @RenderBody()
    @await Component.InvokeAsync("Footer")




    <!-- end main-wrapper section -->
    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-paw" aria-hidden="true"></i></a>

    <!-- Java script -->
    <script src="~/js/core.min.js"></script>
    <script src="~/splide/dist/js/splide.min.js"></script>




    <!-- revolution slider js files start -->
    @*<script src="~/js/rev_slider/jquery.themepunch.tools.min.js"></script>
        <script src="~/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="~/js/rev_slider/extensions/revolution.extension.video.min.js"></script>*@
    <!-- revolution slider js files end -->
    <!-- custom scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- all js include end -->
    <script src="~/js/main.js"></script>
    <script src="~/js/JavaScript.js"></script>
    @RenderSection("Scripts", required: false);


</body>
</html>