@model List<Product>
@foreach (var item in Model)
{
<li class="my_li search-item">
    <a asp-controller="home" asp-action="detail" asp-route-Id="@item.Id">
        <span>@item.Name</span>


    </a>
    
</li>}