
@model Category
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminPanel/Views/_AdminLayout.cshtml";
}

<div class="row">
     <div class="col-md-6 d-flex align-items-stretch">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h2 class="card-title">Name: @Model.Name</h2> <br />
                      <div><img width="150" src="~/assets/images/@Model.ImageUrl" /></div>
                      <h6> Create Time : @Model.CreatedAt</h6> 
                      @if (Model.UptadetAt!=null)
                     {
                      <h6>Last Edit Time : @Model.UptadetAt</h6>
                     }
                       <a class="btn btn-dark" asp-action="index"> Go Back</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
<script src="~/admin/plugins/jquery/jquery.min.js"></script>
