 <!-- start categories section -->
<section class="no-padding-bottom">
    <div class="container lg-container">
        <div class="row">
            <div class="col-md-4 xs-margin-40px-bottom">
                <div class="text-center">
                    <img src="img/content/01.jpg" class="border-radius-5" alt="" />
                    <div class="categories-content">
                        <h5 class="no-margin-bottom"><a href="pet_care.html" class="text-extra-dark-gray">Pet Care</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 xs-margin-40px-bottom">
                <div class="text-center">
                    <img src="img/content/02.jpg" class="border-radius-5" alt="" />
                    <div class="categories-content">
                        <h5 class="no-margin-bottom"><a href="pet_shop.html" class="text-extra-dark-gray">Pet Shop</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="img/content/03.jpg" class="border-radius-5" alt="" />
                    <div class="categories-content">
                        <h5 class="no-margin-bottom"><a href="vet_tips.html" class="text-extra-dark-gray">Vet Tips</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end categories section -->