@model Subscriber
<div >
    <h3>About</h3>
    <p class="margin-30px-bottom">Etiam rhoncu sit amet adip scing simply thin sed ipsum dolor sit amet adip dine scing not avilable in the martket lorem ipsum sem neque.</p>
    <div class="newsletter">
        <input type="email" id="email" placeholder="Enter your email...">
        <a class="butn subscribe"  href="#"  id="send"><span>Subscribe</span></a>
    </div>
</div>


<script>
    let Btn = document.getElementById("send")

    Btn.onclick = function (ev) {
        ev.preventDefault();
        let email = document.getElementById("email").value
        console.log(email)
        let body = { email: email }


        const formData = new FormData();
        formData.append("email", email);

        //axios({
        //    method: 'post',
        //    url: '/subscribe/form',
        //    data: 
        //})

        axios.post("/subscribe/form?email=" + email)

            .then(function (response) {
                swal({
                    title: "Thanks for Subscription !",
                    text: "We will send you all the news!",
                    icon: "success",
                });
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
